<launch>

  <arg name="map_file" default="$(find magni_nav)/maps/blank_map.yaml"/>
  <!-- Run the map server -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_map" args="0.0 0 0  0 0 0  /map /odom 100" /> -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="map_update_interval" value="2.5"/>
        <remap from="scan" to="scan"/>
  </node>



</launch>

